@model WebShop10.Models.Order

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DateCreated" class="control-label"></label>
                <input asp-for="DateCreated" class="form-control" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ShippingFirstName" class="control-label"></label>
                <input asp-for="ShippingFirstName" class="form-control" />
                <span asp-validation-for="ShippingFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingLastName" class="control-label"></label>
                <input asp-for="ShippingLastName" class="form-control" />
                <span asp-validation-for="ShippingLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingAddress" class="control-label"></label>
                <input asp-for="ShippingAddress" class="form-control" />
                <span asp-validation-for="ShippingAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingZipCode" class="control-label"></label>
                <input asp-for="ShippingZipCode" class="form-control" />
                <span asp-validation-for="ShippingZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingCity" class="control-label"></label>
                <input asp-for="ShippingCity" class="form-control" />
                <span asp-validation-for="ShippingCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingCountry" class="control-label"></label>
                <input asp-for="ShippingCountry" class="form-control" />
                <span asp-validation-for="ShippingCountry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingEmail" class="control-label"></label>
                <input asp-for="ShippingEmail" class="form-control" />
                <span asp-validation-for="ShippingEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingPhone" class="control-label"></label>
                <input asp-for="ShippingPhone" class="form-control" />
                <span asp-validation-for="ShippingPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BillingFirstName" class="control-label"></label>
                <input asp-for="BillingFirstName" class="form-control" />
                <span asp-validation-for="BillingFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BillingLastName" class="control-label"></label>
                <input asp-for="BillingLastName" class="form-control" />
                <span asp-validation-for="BillingLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BillingAddress" class="control-label"></label>
                <input asp-for="BillingAddress" class="form-control" />
                <span asp-validation-for="BillingAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BillingZipCode" class="control-label"></label>
                <input asp-for="BillingZipCode" class="form-control" />
                <span asp-validation-for="BillingZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BillingCity" class="control-label"></label>
                <input asp-for="BillingCity" class="form-control" />
                <span asp-validation-for="BillingCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BillingCountry" class="control-label"></label>
                <input asp-for="BillingCountry" class="form-control" />
                <span asp-validation-for="BillingCountry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BillingEmail" class="control-label"></label>
                <input asp-for="BillingEmail" class="form-control" />
                <span asp-validation-for="BillingEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BillingPhone" class="control-label"></label>
                <input asp-for="BillingPhone" class="form-control" />
                <span asp-validation-for="BillingPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <input asp-for="Message" class="form-control" />
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
